@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    margin: auto;
    background-color: var(--clr-primary-1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

main {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // height: 100vh;
    display: contents;
}

.btn {
    width: 100%;
    border: 0;
}